{{#if carts.length}}
<h1>Carrito:</h1>
<ul>
    {{#each carts}}
    {{#each this.products}}
    <h5>{{this.productId.title}}</h5>
    <p>{{this.productId.description}}</p>
    <p>Precio: ${{this.productId.price}}</p>
    <p>Cantidad: {{this.quantity}}</p>
    {{/each}}
    {{/each}}
</ul>
{{else}}
<p>Aun no tiene productos en el carrito!</p>
{{/if}}