
<div>
  <h1>Products</h1>
  <p>title: {{products.title}} </p>
  <p>description: {{products.description}} </p>
  <p>price: {{products.price}} </p>
  <p>status: {{products.status}} </p>
  <p>category: {{products.category}} </p>
  <p>thumbnail: {{products.thumbnail}} </p>
</div>
    


