{{!-- {{log resultProducts}}

{{#each resultProducts.payload}}
<div>
  <h1>Products</h1>
  <p>title: {{this.descriptionObj.title}} </p>
  <p>description: {{this.descriptionObj,description}} </p>
  <p>price: {{this.priceObj.price}} </p>
  <p>status: {{this.statusObj.status}} </p>
  <p>category: {{this.categoryObj.category}} </p>
  <p>thumbnail: {{this.thumbnail}} </p>
</div>
{{/each}} --}}

<a href="{{resultProducts.prevLink}}" {{#unless resultProducts.hasPrevPage}}disabled{{/unless}}>Previous Page</a>
<a href="{{resultProducts.nextLink}}" {{#unless resultProducts.hasNextPage}}disabled{{/unless}}>Next Page</a>
    
